<section class="education" id="education">
    <h2 class="section-titles" data-aos="flip-left">Alma Mater</h2>
    <hr>
    <ngb-carousel [interval]="2000" *ngIf="images" data-aos="fade-up">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h2>University of Texas at Arlington</h2>
            <h3>Bachelor of Science in Computer Science</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h2>University of Texas at Arlington</h2>
            <h3>Bachelor of Science in Computer Science</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h2>University of Texas at Arlington</h2>
            <h3>Bachelor of Science in Computer Science</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    
</section>