
<main>
    <section class="welcome">
        <div class="hero-container">
            <div class="hero-text">
                <mat-card>
                    <mat-card-title>Sign in (still in dev)</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <mat-form-field appearance="fill">
                            <input type="text" matInput placeholder="Email" formControlName="email">
                            </mat-form-field>
                
                            <mat-form-field appearance="fill">
                            <input type="password" matInput placeholder="Password" formControlName="password">
                            </mat-form-field>

                            <mat-checkbox class="remember_pass" (change)="check()">Remember me</mat-checkbox>
                
                        <!-- <p *ngIf="error" class="error">
                            {{ error }}
                        </p> -->
                            <button type="submit" mat-button>Sign in</button>

                            <a routerLink="../signup">Not Enrolled? Sign up Now.</a>
                            <p>Forgot email/password? Please contact admin.</p>
                
                        </form>
                    </mat-card-content>
            </mat-card>
            </div>
        </div>
    </section>

    

</main>