<!-- <section class="projects" [@openClose]="isOpen ? 'open' : 'closed'"> -->
<section class="projects" id="projects">
    <h2 class="section-titles" data-aos="flip-left">Projects</h2>
    <hr>
    <div *ngFor="let project of projects">
        <mat-card class="card" data-aos="fade-up">
            <img mat-card-image class="image" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" src={{project.imgUrl}}>
            <mat-card-content class="content" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                <mat-card-title >{{project.title}}</mat-card-title>
                <mat-card-subtitle>{{project.topics}}</mat-card-subtitle>
                <p>{{project.description}}</p>
                <mat-card-actions align="end">
                    <a mat-button *ngIf="project.repoLink !== ''" href={{project.repoLink}}>Repo</a>
                    <a mat-button *ngIf="project.liveLink !== ''" href={{project.liveLink}}>Live</a>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</section>