<section class="intro" id="intro">
    <div class="hero-container">
      <div class="hero-image" appParallax [ratio]="1.1"></div>
      <div class="hero-text">
          
          <h1 class="section-titles">Hi, I'm Jacinto</h1>
          <h2 data-aos="fade-up">Full Stack Engineer</h2>
          <br>
          <p data-aos="fade-up">This website is still under development.  Please feel free to look around. (:</p>
          <p data-aos="fade-up">Built with Angular/NodeJS.</p>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  