<section class="intro" id="intro">
  <div class="hero-container">
    <div class="hero-image" appParallax [ratio]="1">
      <a class="arrow" href="#about">
        <p>Scroll to learn more</p>
        <i class="fa-solid fa-angle-down fa-5x" ></i>
      </a>
    </div>
    <div class="hero-text">
          <div class="section-titles">Hi, I'm Jacinto</div>
          <h2 data-aos="fade-up">Software Developer</h2>
          <p data-aos="fade-up" data-aos-anchor-placement="top-center" style="color: yellow">Written in Angular</p>
      </div>
      
    </div>
  </section>
  
  
  
  
  
  
  