<section class="intro" id="intro">
    <div class="hero-container">
      <div class="hero-image" appParallax [ratio]="1.1"></div>
      <div class="hero-text">
          
          <h1 class="section-titles" style="font-size: 60px">Hi, I'm Jacinto</h1>
          <h2 data-aos="fade-up">Full Stack Engineer</h2>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p data-aos="fade-up">Built with Angular/Node.js/Spring Boot</p>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  