

.hero-container {
    height: 100vh;
    position: relative;
    z-index: 1;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/bokeh_lights.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
}

.hero-text {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 35px;
}

.hero-text h2 {
    font-size: 20px;
}

.hero-text p {
    font-size: 17px;
}

.arrow {
    color: white;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: arrow-pulse .8s infinite ease-in-out;
    transition: color 0.5s ease;
    text-decoration: none;
    animation-timing-function: linear;
}

.arrow:hover {
    color: #77a9fa;
}

@keyframes arrow-pulse {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-.5vh); }
    100% { transform: translateY(0); }
}