<section class="intro" id="intro">
    <div class="hero-container">
      <div class="hero-image" appParallax [ratio]="1.1">
        <div class="hero-text">
          <h1 class="section-titles" style="font-size: 60px">Hi, I'm Jacinto</h1>
          <h2 data-aos="fade-up">Full Stack Engineer</h2>
          <h2 data-aos="fade-up">Data Engineer</h2>
        </div>
        <a class="arrow" href="#about">
          <p>Scroll to learn more</p>
          <i class="fa-solid fa-angle-down fa-5x" ></i>
        </a>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  