// Toolbar //////////////////////////////////////////////////

mat-toolbar {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2;
    box-shadow: .5px 1px 5px black;
    transition: background-color .5s ease-in;
    overflow: hidden;
}

.mat-toolbar_change {
    background-color: white;
}

mat-toolbar-row {
    justify-content: space-between;
}

.left-side {
    display: flex;
}

.title {
    user-select: none;
    cursor: pointer;
}

// Sidenav //////////////////////////////////////////////////

mat-sidenav-container {
    width: 100%;
    z-index: 1;
}

mat-sidenav {
    background-color: var(--secondary-color);
    padding: 16px;
}

mat-sidenav-content {
    background-color: var(--background-color);

}

// Footer //////////////////////////////////////////////////

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
    right: 15%;
    a {
        justify-content: space-between;
        padding: 0px 10px;
    }
}

hr {
    width: 100%;
}

// Responsive //////////////////////////////////////////////////

@media screen and (max-width: 500px) {
    .right-side a {
        display: none;
    }
  }