<mat-toolbar [class.mat-toolbar_change]="toolbar_variable">
  <mat-toolbar-row>
    <div class="left-side">
      <h1 class="title">
        <a href="#intro" style="text-decoration: none; color: inherit;">Jacinto Mendoza</a>
      </h1>
    </div>

    <div class="right-side">
      <a mat-button href="#about">About</a>
      <a mat-button href="#projects">Projects</a>
      <a mat-button href="#skills">Skills</a>
      <a mat-button href="#experience">Experience</a>
      <a mat-button href="#contact">Contact</a>

      <button mat-icon-button><mat-icon (click)="opened=!opened">menu</mat-icon></button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Sidenav -->

<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="opened" position="end" [autoFocus]="true">
    <mat-nav-list>
      <br><br>
      <a mat-list-item href="#about">About</a>
      <a mat-list-item href="#projects">Projects</a>
      <a mat-list-item href="#contact">Contact</a>
      <a mat-list-item href="#experience">Experience</a>
      <a mat-list-item href="#skills">Skills</a>
      <!-- <a mat-list-item routerLink="signup">Sign up</a>
      <a mat-list-item style="color: red" routerLink="signin">Sign in</a> -->
    </mat-nav-list>
  </mat-sidenav>
    
  <mat-sidenav-content> <!-- fullscreen -->
    <router-outlet></router-outlet>
    <footer>
      <hr>
      <p>Copyright &copy; 2022 All Rights Reserved by Jacinto Mendoza</p>
      <div class=footer-links>
        <a href="#intro">Home</a>
      </div>
    </footer>
  </mat-sidenav-content>
  
</mat-sidenav-container>