
<main>
    <section class="welcome">
        <div class="hero-container">
            <div class="hero-text">
                <mat-spinner *ngIf="isUploadingAccount"></mat-spinner>
                <mat-stepper linear #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Create your account</ng-template>

                        <mat-form-field appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" placeholder="First name" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" placeholder="Last name" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Email Address</mat-label>
                            <input matInput formControlName="email" placeholder="Email Address" required>
                            <mat-error *ngIf="firstFormGroup.controls['email'].hasError('email')">Please enter a valid email address.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Password" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="firstFormGroup.controls['password'].hasError('minlength')">Please enter a password greater than 6 characters.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password" required>
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="firstFormGroup.hasError('notSame')">Passwords do not match.</mat-error>
                        </mat-form-field>
                        
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>

                    <mat-step>
                        
                        <ng-template matStepLabel>Review details</ng-template>
                        <h1>Review Details.</h1>
                        <mat-list>
                            <mat-list-item>
                                <strong>First Name: </strong>
                                {{ this.firstFormGroup.value.firstName }}
                            </mat-list-item>

                            <mat-list-item>
                                <strong>Last Name: </strong>
                                {{ this.firstFormGroup.value.lastName }}
                            </mat-list-item>

                            <mat-list-item>
                                <strong>Email: </strong>
                                {{ this.firstFormGroup.value.email }}
                            </mat-list-item>
                        </mat-list>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                            <button mat-button (click)="submit()">Submit</button>
                        </div>
                    </mat-step>
                </mat-stepper>                  
            </div>
        </div>
    </section>

    <section>
        <button mat-button (click)="getAccounts()" style="background-color: pink">Click Me to Retrieve Accounts!
            <mat-spinner *ngIf="isLoadingAccounts"></mat-spinner>
        </button>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Accounts created
              </mat-panel-title>
              <mat-panel-description>
                <!-- This is a summary of the content -->
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div *ngFor="let account of accounts">
                <strong>First Name:</strong> {{account.firstName}}<br>
                <strong>Last Name:</strong> {{account.lastName}}<br>
                <strong>Email:</strong> {{account.email}}<br>
                <strong>Password(encrypted):</strong> {{account.password}}<br>
                <br>
            </div>
        </mat-expansion-panel>
    </section>

</main>