.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    // background-color: var(--background-color);
    padding: 10vh 5vw;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
    overflow: hidden;
    margin: 0px 0px 20px 0;
  }

  .image {
    margin: 0 0 0 0;
    width: 200px;
    height: 200px;
  }

  .stars {
    color: gold;
    display: flex;
    align-items: center;
    text-shadow: 0 0 3px #000;
    background-color: red;
  }