/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #669BBC;
    --secondary-color: #BBB5BD;
    --background-color: #5e7c71;
    --primary-font-color: white;
    --secondary-font-color: black;
}

html, body { 
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // width: 100vw; // BAD IDEA SCROLL BAR WIDTH
    background-color: var(--primary-color);
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
