<section class="about" id="about">
  <img class="profile_img" src="assets/images/profile.jpg" alt="profile" data-aos="zoom-in">
  <mat-card data-aos="fade-left">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title class="section-titles">About me</mat-card-title>
      </mat-card-header>
      <p class="description">
        I graduated from the University of Texas at Arlington with a Bachelor of Science in Computer Science in 2021.  I'm currently working as a consultant at Talent Path ever since then as a Full Stack Engineer and I've enjoyed building websites.  I have experience using plain HTML, CSS, and JavaScript as well as more advanced frameworks and technologies such as Angular, Sass, Node.js, Express.js and more.  Designing, building and problem solving have been my passions ever since and am always eager for the next challenge.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-button href="assets/documents/Resume.pdf">Resume</a>
    </mat-card-actions>
  </mat-card>
</section>






