<section class="about" id="about">
  <img class="profile_img" src="assets/images/profile.jpg" alt="profile" data-aos="zoom-in">
  <mat-card data-aos="fade-left">
    <mat-card-content>
      <mat-card-title class="section-titles">About Me</mat-card-title>
      <p class="description">
        Welcome to my page! I'm Jacinto, a passionate Software Engineer at Fiserv, with a Bachelor of Science in Computer Science from the University of Texas at Arlington. My interest in the tech industry began at a young age, where I was fascinated by how devices connect and interact with each other. This drive to understand and innovate grew stronger as I recognized the impact of technology on society, inspiring me to strive towards excellence in my work.
        <br>
        With over two years of experience at Fiserv, I have honed my skills in developing and implementing software solutions that meet business needs, and am committed to leveraging the latest technologies to create efficient and effective solutions that enhance user experiences.
        <br>
        Outside of work, I indulge in my passion for the great outdoors, skiing, lifting, hiking, music, and photography. I also am a fan of watching basketball and love to keep up with the latest news of all things sports.
        <br>
        Thank you for visiting my page! Feel free to connect with me to discuss opportunities, ideas or simply to say hello! I'm always open to new opportunities!
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-button href="assets/documents/Resume.pdf">Resume</a>
    </mat-card-actions>
  </mat-card>
</section>