<main>
    <section class="welcome">
        <div class="hero-image">
            <div class="hero-text">
                <img class="profile_img" src="assets/images/profile.jpg" alt="profile">
                <h1>Hi, I'm Jacinto</h1>
                <p>I develop things</p>
                <!-- <button>Hire me</button> -->
            </div>
        </div>
    </section>

    <section class="projects">
        <h2 class="section-titles">Highlighted Projects</h2>
        <hr>
        <div class="cards">
            <mat-card class="card">
                <mat-card-content>
                    <img mat-card-image src="assets/images/aws.png" alt="aws">
                    <mat-card-title>ETL Pipeline</mat-card-title>
                    <mat-card-subtitle>AWS</mat-card-subtitle>
                    <p>
                        Created an end-to-end batch ETL solution via Amazon Web Services (AWS) from an existing on-premises IT infrastructure. This project managed raw data such as semi-structured and structured data to be transformed and loaded using multiple AWS services such as Redshift, DynamoDB, RDS, EMR, QuickSight, and Lambda for data analytics.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button></button>
                </mat-card-actions>
            </mat-card>
    
            <mat-card class="card">
                <mat-card-content>
                    <img mat-card-image src="assets/images/angular.png" alt="angular">
                    <mat-card-title>Finance Web Application</mat-card-title>
                    <mat-card-subtitle>AngularJS, NodeJS, Express, Material, PostgreSQL</mat-card-subtitle>
                    <p>
                        Developed a mock finance web application as part of a capstone project that utilizes the front-end web application framework, AngularJS, and the back-end JavaScript runtime environment, NodeJS.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button href="https://github.com/falconInvestments/falcon-frontend">Repo</a>
                </mat-card-actions>
            </mat-card>
    
            <mat-card class="card">
                <mat-card-content>
                    <img mat-card-image src="assets/images/ice_cream.png" alt="ice_cream">
                    <mat-card-title>GUI Ice Cream Application</mat-card-title>
                    <mat-card-subtitle>C++, GTK, gtkmm</mat-card-subtitle>
                    <p>
                        Developed a C++ GUI program via gtkmm that displays to customers a user interface for creating order tickets from an ice cream shop. Created for my object-oriented programming course in which had a score percentage above 150 due to the many extra features added into the program.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button href="https://github.com/jacintomendoza/ice-cream-emporium">Repo</a>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="cards">
            <mat-card class="card">
                <mat-card-content>
                    <img mat-card-image src="assets/images/mysql.png" alt="mysql">
                    <mat-card-title>Airline Reservation Database</mat-card-title>
                    <mat-card-subtitle>MySQL</mat-card-subtitle>
                    <p>
                        Designed and implemented a relational database system for an online airline travel reservation system. Project included creating an ER/EER schema diagram, implementing MySQL, and running queries.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button></button>
                </mat-card-actions>
            </mat-card>
    
            <mat-card class="card">
                <mat-card-content>
                    <img mat-card-image src="assets/images/android.png" alt="android">
                    <mat-card-title>Service Application</mat-card-title>
                    <mat-card-subtitle>Android, Java</mat-card-subtitle>
                    <p>
                        Developed an Android application with a small team in which users can initiate service requests for their home or small business and calculate the cost. Created using the agile software development process.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button></button>
                </mat-card-actions>
            </mat-card>
    
            <mat-card class="card">
                <mat-card-content>
                    <img mat-card-image src="assets/images/junit.png" alt="junit">
                    <mat-card-title>JUnit Program Testing</mat-card-title>
                    <mat-card-subtitle>Java</mat-card-subtitle>
                    <p>
                        Ensured that a given code has full coverage for all possible inputs using JUnit testing through the Eclipse IDE platform. Involved creating a Control Flow Graph for each individual method as well as for the main method, executing JUnit source code and correcting any detected faults within the program.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button></button>
                </mat-card-actions>
            </mat-card>
        </div>
        
    </section>

    <section class="other">
        <h2 class="section-titles">Education</h2>
        <hr>
    </section>

</main>
  
  