<main>

    <app-intro></app-intro>
    <app-about></app-about>
    <app-projects></app-projects>
    <app-education></app-education>

    <section class="socials">
        <h2 class="section-titles">Socials</h2>
        <hr>
        <div class="icons">
            <a href="https://www.linkedin.com/in/jacinto-mendoza/" class="fa fa-linkedin-square fa-4x"></a>
            <a href="https://www.instagram.com/joshmendozer/" class="fa fa-instagram fa-4x"></a>
            <a href="https://www.facebook.com/josh.mendoza.3110" class="fa fa-facebook-square fa-4x"></a>
            <a href="https://github.com/jacintomendoza" class="fa fa-github-square fa-4x"></a>
        </div>
    </section>

</main>
  
  