.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/bokeh_lights.jpg");
}

.section-titles {
  font-size: 60px;
  color: var(--primary-font-color);
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px 0px 0px 0px;
}

hr {
  width: 50%;
}
