.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color2);
  align-items: center; // vert center
  height: 100vh;
  padding: 0px 30px;
  i {
    width: 10px;
  }
  a {
    color: white;
    margin: 0px 10px 0px 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.comment {
  height: 100px;
}

mat-card {
  background-color: var(--primary-color);
  width: 70vw;
}

// Responsive //////////////////////////////////////////////////
@media screen and (max-width: 600px) {
  mat-card {
    width: 90vw;
  }
}
