.contact {    
    display: flex;
    justify-content: center;
    align-items: center; // vert center
    height: 100vh;
    // width: 100vw;
    padding: 0px 30px;
    i {
        width: 10px;
    }
    a {
        color: white;
        margin: 0px 10px 0px 10px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.section-titles {
    font-size: 40px;
}

.comment {
    height: 100px;
}

mat-card {
    background-color: var(--primary-color);
}

// .container {
//     background-color: var(--primary-color);
// }